.flex-grow
  %ul
    - @posts.each do |post|
      %li.h-72.bg-cover.bg-center.flex.flex-wrap.content-center.bg-gradient-to-r.from-green-400.to-blue-700
        - path = admin ? edit_post_path(post.id) : post
        = link_to path, class: 'px-20 flex-grow h-full relative flex items-center overflow-hidden' do
          - if post.cover_photo.url.present?
            .absolute.blur.-inset-3.bg-cover{ style: "background-image: url(#{post.cover_photo.url})"}
            .absolute.-inset-3.bg-cover.hover:opacity-0.transition-opacity.duration-300{ style: "background-image: url(#{post.cover_photo.url})"}

          - if post.draft && admin
            .absolute.left-7.bottom-5.italic.text-white.opacity-50.font-extralight.text-2xl
              Draft

          %div
            .text-white.font-sidebar.text-2xl.font-thin.text-shadow.relative.pointer-events-none
              = post.created_at.strftime('%B %d, %Y')
            .text-white.font-sidebar.text-7xl.font-bold.text-shadow.relative.pointer-events-none
              = post.title.strip
