#all_posts
  %ul.flip
    - @posts.each do |post|
      = render "dynamic_css", :post => post
      %li
        - p = "p" + post.id.to_s
        = link_to edit_post_path(post), class: "post_container cover_photo", id: p do
          - if post.draft
            .draft
              Draft
          .post_title
            .date
              = post.created_at.strftime("%B %d, %Y")
            = post.title

#admin_fixed
= link_to "new post", new_post_path, id: "new_post_button"
= link_to "logout", logout_path, method: "delete", id: "logout_button"
