- provide(:title, "| #{@post.title}")

%style 
  -# Dynamically generating the css for the hover effect
  - if !@post.cover_photo.nil?
    ="#header_container\{background-image: url('/assets/post_covers/" << @post.cover_photo << ".jpg');}"
    ="#header_container_blurred\{background-image: url('/assets/post_covers/" << @post.cover_photo << "_blur.jpg');}"

#header_wrapper
  #header_container
  #header_container_blurred
  #header_container_text
    .post_title
      #post_height
        .date
          = @post.created_at.strftime("%B %d, %Y")
        #post_title_t{:contenteditable => "true"}
          = @post.title
            

= render 'layouts/sidebar'

#content{:data => {:controller => "edit"}}
  #post_actions
    - if @post.draft
      = link_to "Publish", publish_post_path(@post), class: "pure-button button-success"
    - else
      = link_to "Unpublish", unpublish_post_path(@post), class: "pure-button button-warning"
    = link_to "Delete", post_path(@post), method: "delete", class: "pure-button button-error"

  #post{:contenteditable => "true"}
    = @post.post

  #hidden_submit{:style => "display:none"}
    = form_for(@post) do |f|
      = f.text_field :post
      = f.text_field :title

  = render 'layouts/disqus'

#save
  Saved
