#all_posts
  %ul.flip
    - @posts.each do |post|
      %li
        = link_to post, class: "post_container cover_photo" do
          - if !post.cover_photo.url.nil?
            %img.bg.blurry{:src => "#{post.cover_photo.url}", :style => "filter: url('#blur_svg')" }
            %img.bg.crisp{:src => "#{post.cover_photo.url}"}

          .post_title
            .date
              = post.created_at.strftime("%B %d, %Y")
            = post.title.strip

%svg
  %filter#blur_svg{"color-interpolation-filters" => "sRGB"}
    <feGaussianBlur stdDeviation="8"/>
    %feComponentTransfer
      <feFuncA type="discrete" tableValues="1 1"/>