- provide(:title, "| #{@post.title}")

%style 
  -# Dynamically generating the css for the hover effect
  - if !@post.cover_photo.nil?
    = "#header_container\{background-image: url(' #{@post.cover_photo.url} ');}"
    = "#header_container_blurred\{background-image: url(' #{@post.cover_photo.blur.url} ');}"

#header_wrapper
  %img.bg#crisp{:src => "#{@post.cover_photo.url}"}
  %img.bg#blurry{:src => "#{@post.cover_photo.url}"}
  #header_container_text
    #post_height.post_title
      .date
        = @post.created_at.strftime("%B %d, %Y")
      #post_title
        = @post.title

= render 'layouts/sidebar'

#content
  = @post.post.html_safe

  = render 'subscribe'
  = render 'layouts/disqus'
