- provide(:title, "| #{@post.title}")

.relative.h-halfscreen.overflow-hidden.flex.flex-wrap.content-center
  = render 'show_cover'
  .relative.px-9.md:pl-80
    .date.text-white.font-thin.text-2xl.text-shadow
      = @post.published_at.strftime('%B %d, %Y')
    %h1.text-white.font-sidebar.text-7xl.font-semibold.text-shadow.pt-2
      = @post.title

.flex.flex-col.md:flex-row
  .hidden.md:flex
    = render 'layouts/sidebar'

  .flex-grow.pt-9.px-9.md:px-0
    -# Display updated text if updated since published
    -# Excludes edits on the day of publishing
    - if @updated_since_published
      #updated_post
        Post Updated On
        = @post.updated_at.strftime(' %B %d, %Y')

    .font-serif.text-xl.text-gray-900
      = @post.post.html_safe

    = render 'subscribe'
    = render 'layouts/disqus'
