- provide(:title, "| #{@post.title}")

%style 
  -# Dynamically generating the css for the hover effect
  - if !@post.cover_photo.nil?
    = "#header_container\{background-image: url(' #{image_path("post_covers/" << @post.cover_photo << ".jpg")} ');}"
    = "#header_container_blurred\{background-image: url(' #{image_path("post_covers/" << @post.cover_photo << "_blur.jpg")} ');}"

#header_wrapper
  #header_container
  #header_container_blurred
  #header_container_text
    .post_title
      #post_height
        .date
          = @post.created_at.strftime("%B %d, %Y")
        #post_title
          = @post.title

= render 'layouts/sidebar'

#content
  = @post.post

  = render 'subscribe'
  = render 'layouts/disqus'
