!!! 5
%html
  %head
    = render 'layouts/head'
    = auto_discovery_link_tag :atom, '/feed'
    = auto_discovery_link_tag :rss, '/feed.rss'
    = yield :head

  %body.all_posts{ data: { controller: controller_name.camelize, action: action_name.camelize } }
    = render 'layouts/sidebar'
    = yield
    = render 'layouts/modal'
    = render 'layouts/google_analytics'