%html
  %head
    %title
      = "20dots #{yield(:title)}"
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = auto_discovery_link_tag :atom, "/feed"
    = auto_discovery_link_tag :rss, "/feed.rss"
    = csrf_meta_tags

  %body.all_posts
    = render 'layouts/sidebar'
    = yield

  = render 'layouts/modal'