!!! 5
%html
  %head
    %title
      = "20dots #{yield(:title)}"
    <meta name=viewport content="width=device-width, initial-scale=1">
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin'
    = csrf_meta_tags

  %body.post{:data => {:controller => "parallax"}}
    = yield

    = render 'layouts/modal'